/.env
/.env.backup
/.env.production
/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/bootstrap/cache/*.php
.phpunit.result.cache
/.idea/
/.vscode/
